@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #000000;
    font-family: 'Cormorant upright';
    color: #ffffff;
    overflow-x: hidden;
}

header {
    /* background-color: aqua; */
    background-color: #040404;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5%;
    width: 100%;
    padding: 0px 85px;
}

.nav ul {
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    width: 120%;
    list-style: none;
    font-family: 'open sans';
    font-weight: 400;
    font-size: 15px;
    line-height: 175%;
}

.login p {
    font-family: 'open sans';
    font-weight: 400;
    font-size: 15px;
    line-height: 175%;
    margin-right: -220px;
}

.break {
    margin-right: -190px;
}

.book {
    margin: 0;
    width: 130px;
    height: 50px;
    background: transparent;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
}

.book p {
    margin-top: 15px;
    width: 100%;
    font-family: 'open sans';
    font-weight: 400;
    font-size: 15px;
    line-height: 175%;
}

.book svg {
    display: none;
}

.dropdown {
    display: none;
}

.one {
    background-color: #040404;
    width: 100%;
}

.section1 {
    display: flex;
    justify-content: space-between;
}

.right {
    margin-left: 85px;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
}

.horizontal {
    display: flex;
    justify-content: space-between;
    transform: rotate(-90deg);
}

.vertical {
    margin-left: 80px;
}


.B {
    width: 43px;
    height: 32px;
    font-family: open sans;
    font-weight: 400;
    line-height: 175%;
    letter-spacing: 0.04em;
}

.G {
    width: 43px;
    height: 32px;
    font-family: open sans;
    font-weight: 400;
    line-height: 175%;
    letter-spacing: 0.04em;
}

.chase p {
    font-family: Cormorant Upright;
    font-weight: 700;
    font-size: 13px;
    line-height: 130%;
}

.Key {
    font-family: Cormorant Upright;
    font-weight: 700;
    font-size: 65px;
    line-height: 130%;
    letter-spacing: 0.04em;
    color: #DCCA87;
}

.pgraph {
    /* background-color: aqua; */
    width: 453px;
    margin-top: 20px;
    font-family: open sans;
    font-size: 13px;
    line-height: 175%;
    letter-spacing: 0.04em;
}

button {
    background-color: #DCCA87;
    width: 135px;
    height: 40px;
    border: none;
    margin-top: 25px;
    font-family: cormorant upright;
    font-size: 13px;
    font-weight: 700;
    line-height: 175%;
    letter-spacing: 0.04em;
    color: #0C0B08;
    cursor: pointer;
}

.left {
    display: flex;
    flex-direction: column;

}

.top {
    display: flex;
}

.heropic {
    width: 60%;
    padding-top: 50px;
    margin-left: 150px;
}

.bottom {
    /* background-color: aqua; */
    margin-left: 120px;
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.date {
    margin-top: 70px;
}

.vec8 {
    margin-left: 20px;
}

.two {
    width: 100%;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    background-image: url(../BG.png);
}

.section2 {
    height: 100vh;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.left1 {
    /* background-color: aqua; */
    text-align: right;
    width: 100%;
    margin-right: 130px;
    z-index: 1;
}

.about {
    font-family: cormorant upright;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 130%;
    text-align: right;
    letter-spacing: 0.04em;
    color: #DCCA87;
}

.vec2 {
    margin-bottom: 14px;
}

.pgraph2 {
    /* background-color: aqua; */
    font-family: open sans;
    font-weight: 400;
    font-size: 13px;
    line-height: 175%;
    letter-spacing: 0.04em;
    color: #AAAAAA;
}

.know {
    margin-top: 21px
}

.GG {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
}

.GGpic {
    position: absolute;
    width: 30%;
    margin-right: 90px;
}

.knive {
    display: flex;
    align-items: center;
    justify-content: center;
}

.knivepic {
    width: 7%;
    position: absolute;

    z-index: 2;
}

.right1 {
    text-align: left;
    /* background-color: aqua; */
    width: 100%;
    margin-left: 70px;
    z-index: 1;
}

.history {
    font-family: cormorant upright;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 130%;
    letter-spacing: 0.04em;
    color: #DCCA87;
}

.vec3 {
    transform: rotate(180deg);
}

.pgraph3 {
    /* background-color: aqua; */
    width: 110%;
    font-family: open sans;
    font-weight: 400;
    font-size: 13px;
    line-height: 175%;
    letter-spacing: 0.04em;
    color: #AAAAAA;
}

.three {
    background-color: #040404;
    width: 100%;
}

.section3 {
    padding: 120px;
}

.center0 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.palatte p {
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0.04em;
}

.special {
    font-weight: 600;
    font-size: 50px;
    line-height: 130%;
    letter-spacing: 0.04em;
    color: #DCCA87;
}

.Tmenu {
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    text-align: center;
}

.left3 {
    /* background-color: aqua; */
    width: 40%;
    text-align: left;
}

.wine {
    text-align: center;
    margin-left: -30%;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.04em;
}

.items {
    /* background-color: aqua; */
    margin-top: -5%;
}

.chapel {
    width: 75%;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
}

.list {
    color: #DCCA87;
}

.Lrec {
    margin-top: 25px;
}

.Ldes {
    margin-top: -11px;
    font-size: 10px;
    font-family: open sans;
    font-weight: 400;
    line-height: 175%;
    color: #AAAAAA;
}

.midimg {
    width: 80%;
}

.right3 {
    width: 40%;
    text-align: left;
}

.button4 {
    text-align: center;
}

.four {
    background-image: url(../BG.png);
    width: 100%;
}

.section4 {
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img2 {
    width: 64%;
}

.right4 {
    width: 54%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: -18%;
}

.chef {
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0.04em;
}

.believe {
    /* background-color: aqua; */
    width: 100%;
    font-weight: 600;
    font-size: 50px;
    line-height: 130%;
    letter-spacing: 0.04em;
    color: #DCCA87;
}

.text4 {
    /* background-color: aqua; */
    font-family: open sans;
    font-style: italic;
    font-weight: 400;
    line-height: 175%;
    letter-spacing: 0.04em;
    color: #AAAAAA;
    width: 100%;
}

.name4 {
    font-weight: 400;
    font-size: 30px;
    line-height: 130%;
    letter-spacing: 0.04em;
    color: #DCCA87;
}

.title {
    font-family: open sans;
    font-weight: 400;
    font-size: 15px;
    line-height: 175%;
    letter-spacing: 0.04em;
    color: #AAAAAA;
}

.nameimg {
    width: 60%;
}

.five {
    width: 100%;
}

.vid {
    width: 100%;
}

.six {
    background-image: url(../BG.png);
    /* background-color: aqua; */
    margin-top: -0.5%;
    width: 100%;
}

.sid6 {
    margin-top: 5%;
    margin-left: 5%;
    width: 9%;
}

.section6 {
    /* background-color: aqua; */
    padding: 100px 150px 150px 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.lefttop6 {
    text-align: left;
}

.awrd {
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0.04em;
}

.h6 {
    font-weight: 600;
    font-size: 50px;
    line-height: 130%;
    letter-spacing: 0.04em;
    color: #DCCA87;
}

.surface6 {
    /* background-color: aqua; */
    width: 120%;
    display: flex;
    justify-content: space-between;
}

.two6 {
    /* background-color: aqua; */
    width: 100%;
    display: flex;
}

.two66 {
    /* background-color: aqua; */
    width: 100%;
    display: flex;
}

.img66 {
    width: 80%;
}

.text6 {
    /* background-color: aqua; */
    width: 100%;
    margin-top: -5%;
    text-align: left;
}

.bib {
    font-weight: 700;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.04em;
    color: #DCCA87;
}

.secT {
    font-family: "open sans";
    font-weight: 400;
    font-size: 10px;
    line-height: 175%;
    letter-spacing: 0.04em;
    color: #AAAAAA;
}

.surface66 {
    /* background-color: aqua; */
    margin-top: 17%;
    width: 120%;
    display: flex;
    justify-content: space-between;
}

.grp43 {
    width: 60%;
}

.seven {
    background-image: url(../Mask\ Group.png);
    width: 100%;
}

.section7 {
    display: flex;
    justify-content: space-between;
}

.left7 {
    /* background-color: aqua; */
    width: 60%;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.IG {
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0.04em;
}

.h7 {
    margin-top: -1px;
    font-weight: 600;
    font-size: 50px;
    line-height: 130%;
    letter-spacing: 0.04em;
    color: #DCCA87;
}

.T7 {
    margin-top: -20px;
    font-family: "open sans";
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.04em;
    color: #AAAAAA;
}

.photos7 {
    display: flex;
    justify-content: space-between;
}

.button7 {
    margin-top: -10px;
    width: 100px;
    height: 20px;
    border: none;
    font-family: cormorant upright;
    font-size: 13px;
    font-weight: 700;
    line-height: 175%;
    letter-spacing: 0.04em;
    color: #0C0B08;
}

.img7 {
    padding-top: 50px;
    padding-left: 50px;
    width: 25%;
    height: 95%;
}

.eight {
    background-image: url(../BG\ \(3\).png);
    width: 100%;
}

.section8 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 150px 150px 150px 300px;
}

.left8 {
    /* background-color: aqua; */
    width: 100%;
}

.contact {
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0.04em;
}

.h8 {
    margin-top: -1px;
    font-weight: 600;
    font-size: 50px;
    line-height: 130%;
    letter-spacing: 0.04em;
    color: #DCCA87;
}

.T8 {
    font-family: "open sans";
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.04em;
    color: #AAAAAA;
}

.openhrs {
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0.04em;
    color: #DCCA87;
}

.DAT {
    font-family: "open sans";
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.04em;
    color: #AAAAAA;
}

.pic8 {
    width: 90%;
}

.nine {
    position: absolute;
    background-color: #040404;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0% 20%;
    border: 1px solid rgba(220, 202, 135, 0.2);
    box-shadow: 22px 30px 95px 1px rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.section9 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
}

.cntr9 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h9 {
    margin-top: -1px;
    font-weight: 600;
    font-size: 50px;
    line-height: 130%;
    letter-spacing: 0.04em;
    color: #DCCA87;
}

form {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.email {
    margin-top: 4%;
    width: 75%;
    height: 40px;
    padding-left: 15px;
    font-family: "cormorant upright";
    color: #AAAAAA;
    background-color: #0C0C0C;
    border: 1px solid #F5EFDB;
}

footer {
    background-image: url(../BG\ \(4\).png);
    position: absolute;
    width: 100%;
    margin-top: -5%;
}

.BTT {
    /* background-color: aqua; */
    text-align: right;
    padding-top: 50px;
    margin-right: 5%;
}

.section10 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 150px;
}

.contact10 {
    font-family: "cormorant upright";
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0.04em;
    color: #F5EFDB;
}

.side10 {
    margin-top: -150px;
}

.DAT10 {
    /* background-color: aqua; */
    font-family: "open sans";
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.04em;
    color: #AAAAAA;
}

.cnt10 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text10 {
    /* background-color: aqua; */
    font-weight: 400;
    font-size: 15px;
    line-height: 130%;
    letter-spacing: 0.04em;
    font-family: "open sans";
}

.icons {
    /* background-color: aqua; */
    width: 30%;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.Text10 {
    /* background-color: aqua; */
    margin-top: -150px;
}

.pgh10 {
    /* background-color: aqua; */
    padding-left: 130px;
    font-family: "open sans";
    font-weight: 400;
    font-size: 15px;
    line-height: 175%;
    letter-spacing: 0.04em;
    color: #AAAAAA;
    display: flex;
    justify-content: center;
}


@media screen and (max-width: 576px) {
    body {
        margin: 0;
    }

    header {
        background-color: #040404;
        height: 4%;
        padding: 0px 10px;
    }

    .heading h1 {
        margin-left: 10px;
    }

    .nav ul {
        display: none;
    }

    .login p {
        margin: 0;
        padding: 0;
        font-size: 10px;
    }

    .break {
        display: none;
    }

    .book p {
        margin-right: 20px;
        font-size: 10px;
    }

    .book svg {
        display: block;
    }

    .dropdown {
        background-color: #DCCA87;
        display: none;
        position: absolute;
        top: 9%;
        right: 0;
        width: 150px;
        border-radius: 10px;
        box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.69);
        -webkit-box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.69);
        -moz-box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.69);
    }

    .dropdown ul {
        list-style: none;
        padding: 0;
    }

    .dropdown ul li {
        /* background-color: aqua; */
        width: 100%;
        padding: 5px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        /* text-align: center; */
    }

    .section1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .right {
        /* background-color: aqua; */
        /* width: 100%; */
        margin: 0;
        display: flex;
        justify-content: center;
        justify-content: space-between;
    }

    .B {
        width: 43px;
        height: 0px;
        margin: 0;
    }

    .G {
        width: 43px;
        height: 0px;
        margin: 0;
    }

    .vertical {
        margin-left: 0;
        text-align: center;
    }

    .pgraph {
        /* background-color: aqua; */
        width: 100%;
    }

    .hero {
        display: flex;
        justify-content: center;
    }

    .heropic {
        width: 60%;
        padding-top: 50px;
        margin: 0;
    }

    .bottom {
        margin: 0;
        width: 100%;
        padding: 0px 10px;
    }

    .section2 {
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .left1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0;
    }

    .know {
        margin-top: 1px;
    }

    .GG {
        margin-left: 0;
    }

    .GGpic {
        margin-right: 0;
    }

    .knive {
        display: none;
    }

    .right1 {
        text-align: center;
        width: 100%;
        margin: 0;
    }

    .pgraph3 {
        width: 100%;

    }

    .section3 {
        padding: 0px;
    }

    .three {
        width: 100%;
    }

    .Tmenu {
        display: flex;
        flex-direction: column;
    }

    .left3 {
        width: 80%;
    }

    .wine {
        text-align: center;
        margin: 0;
        font-size: 30px;
    }

    .items {
        margin: 0;
    }

    .chapel {
        width: 80%;
    }

    .midimg {
        width: 50%;
    }

    .right3 {
        width: 80%;
    }

    .button4 {
        margin-bottom: 20px;
    }

    .section4 {
        padding: 50px;
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }

    .img2 {
        margin-top: 20px;
    }

    .right4 {
        width: 85%;
        margin: 0;
    }

    .believe {
        font-size: 45px;
    }

    .nameimg {
        width: 50%;
    }

    .six {
        margin-top: -0.9%;
    }

    .sid6 {
        margin-top: 2%;
        margin-left: 2%;
        width: 9%;
    }

    .section6 {
        padding: 25px;
        display: flex;
        flex-direction: column;
    }

    .lefttop6 {
        text-align: center;
    }

    .surface6 {
        width: 100%;
    }

    .img66 {
        width: 70%;
    }

    .surface66 {
        width: 100%;
    }

    .grp43 {
        width: 50%;
        margin-top: 20px;
    }

    .section7 {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .left7 {
        width: 90%;
        padding: 60px;
        display: flex;
        align-items: center;
    }

    .img7 {
        padding: 35px 0px;
        width: 20%;
        height: 95%;
    }

    .section8 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .left8 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .img8 {
        display: flex;
        justify-content: center;
        margin-top: 65px;
    }

    .pic8 {
        width: 60%;
    }

    .nine {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0% 5%;
    }

    .section9 {
        padding: 30px;
    }

    .h9 {
        font-size: 30px;
    }

    .email {
        margin-top: 6.7%;
        margin-right: 10px;
    }

    .section10 {
        display: flex;
        flex-direction: column;
        align-items: normal;
        padding: 10px;
        text-align: left;
    }

    .side10 {
        margin: 0;
    }

    .cnt10 h2 {
        margin: 0;
    }

    .cnt10 {
        display: flex;
        flex-direction: column;
        align-items: normal;
    }

    .icons {
        width: 15%;
    }

    .Text10 {
        margin: 0;
    }

    .pgh10 {
        padding: 0;
    }
}